header {
    background-color: #222;
    color: #fff;
    padding: 10px;
    text-align: right;
}

header a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    margin: 20px auto;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form input[type="text"],
form input[type="date"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

form textarea {
    height: 100px;
}

form button {
    background-color: #ff7f50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: #ff6347;

}


footer {
    background-color: #222;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 20px;
}

.btn {
    border-bottom-color: #0d6efd;
    text-align: center;
    padding: 0.2cm;
}

.btn-one {
    background-color: red;
    text-align: center;
}

.btn-second {
    background-color: yellow;
    text-align: center;
}

.btn-third {
    background-color: grey;
    text-align: center;
}

.btn-room {
    background-color: green;
    text-align: center;
}

.btn-link {
    background-color: crimson;
}